.container {
    width: 97%;
    height: 93%;
}

.btn {
    background-color: #ea484d;
    width: 60px;
    height: 60px;
    cursor: pointer;
    border-radius: 50%;
    position: fixed;
    bottom: 20px;
    right: 40px;

}
.baslik{
    padding-left: 18px;
    color: white;
    font-size: 17px;

}
.modal_content {
    background-color: rgb(var(--surface-color));
    width: 270px;
    height: 350px;
    position: fixed;
    bottom: 100px;
    right: 40px;
    border-radius: 5px;
    visibility: hidden;
    border-style: groove; 
    border-color: #ea484d;
    border-width: 1px;
    overflow-x: hidden;
    offset-block-start: auto;
    overflow: auto;
    scroll-snap-type: proximity;

}

.open-modal-content {
    visibility: visible; 
}

.modal_content .modal {
    color: black;
    position: relative;
    font-size: 17px;
    font-family: sans-serif;
    
}

.modal_bar {
    background: #ea484d;
    display: flex;
    justify-content: space-between;
    border-top-left-radius: 5px;
    border-top-right-radius: 1px;
}

.modal_bar p {
    color: black;
}
::-webkit-scrollbar-thumb{
    background: #ea484d;
}
::-webkit-scrollbar{
    width: 5px;
    background: #fff;
}
.modal_bar button {
    margin-left: -15px;
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    color: white;
    margin-right: 5px;
    font-size: 22px;
    font-family: monospace;
}
.modal_description_ic{
    width: 235px;
    height: 100px;
    
    margin-top: -4px;
    padding-left:   7px;
    border-radius: 3%;
    background-color: rgb(233, 223, 223);
}
.modal_description {
    padding: 5px 15px;
    font-size: 15px;
    margin-top: -5px;
}

.modal_description .modal_links button {
    height: 35px;
    width: 240px;
    padding: 3% 10px;
    border: none;
    margin-top: -10px;
    font-size: 12px;
    background-color: #ea484d;
    border-radius: 13px;
    margin-left: -10px;
    margin-top: 5px;
}
.modal_links button:hover{
    cursor:pointer;
}
.modal_description .modal_links button a {
    color: #fff;
    text-decoration: none;
}


.bubble {
    position: fixed;
    display: flex;
    background: #ea484d;
    border-radius: .4em;
    transition: visibility 5s;
    width: 130px;
    padding: 10px 20px;
    margin: 1 0;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 250%;
    text-shadow: 0 -0.05em 0.1em rgba(0, 0, 0, .3);
    position: absolute;
    left: 90%;
    top: 86%;

}

.bubble:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0;
    border: 15px solid transparent;
    border-top-color: #ea484d;
    border-bottom: 0;
    margin-left: 20px;
    margin-bottom: -10px;
}

.bubble h2 {
    margin: 0;
    font-size: 40%;
    font-weight: normal;
}

.btn img {
    transition: 1s ease;
}

.btn img:hover {
    transform: scale(1.2);
    filter: opacity(5px);
}

.modal_description_ic:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: -20px;
    width: -200px;
    height: -220px;
    border: 15px solid transparent;
    border-top-color:  rgb(233, 223, 223);;
    border-bottom: 0;
    margin-left: 20px;
    margin-bottom: 50px;
    transform: rotate(90deg); 
}