
.container {
    width: 97%;
    height: 93%;
}
.hidden {
    display: none;
  }

.btn {
    background-color: #ea484d;
    width: 60px;
    height: 60px;
    cursor: pointer;
    border-radius: 50%;
    position: fixed;
    bottom: 20px;
    right: 40px;
}

.baslik{
    padding-left: 18px;
    color: white;
    font-size: 17px;

}
.modal_content {
    background-color: rgb(var(--surface-color));
    width: 270px;
    height: 350px;
    position: fixed;
    bottom: 100px;
    right: 40px;
    border-radius: 5px;
    visibility: hidden;
    border-style: groove; 
    border-color: #ea484d;
    border-width: 1px;
    overflow-x: hidden;
    offset-block-start: auto;
    
    scroll-snap-type: proximity;

}

.open-modal-content {
    visibility: visible; 
}

.modal_content .modal {
    color: black;
    font-size: 17px;
    font-family: sans-serif;
    height: inherit;
}

.modal_bar {
    background: #ea484d;
    display: flex;
    justify-content: space-between;
    border-top-left-radius: 5px;
    border-top-right-radius: 1px;
}

.modal_bar p {
    color: black;
}
::-webkit-scrollbar-thumb{
    background: #ea484d;
}
::-webkit-scrollbar{
    width: 5px;
    background: #fff;
}
.modal_bar button {
    margin-left: -25px;
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    color: white;
    margin-right: 5px;
    font-size: 22px;

    font-family: monospace;
}
#btn2{
    margin-top: -2rem;
}
.modal_description_ic{
    width: 235px;
    height: 100px;    
    margin-bottom: 4px;
    border-radius: 3%;
    background-color: rgb(233, 223, 223);
}
#introduction {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin-bottom: 1rem;
}
.modal_description {
    padding: 5px 15px;
    font-size: 15px;
    margin-top: -5px;
}

.modal_description .modal_links button {
    height: 35px;
    width: 240px;
    padding: 3% 10px;
    border: none;
    font-size: 12px;
    background-color: #ea484d;
    border-radius: 13px;
    margin-left: -0.2rem;
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
}
.modal_links button:hover{
    cursor:pointer;
}
.modal_description .modal_links button a {
    color: #fff;
    text-decoration: none;
}


.bubble {
    background: #ea484d;
    border-radius: .4em;
    transition: visibility 5s;
    width: 130px;
    padding: 10px 20px;
    margin: 1 0;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 250%;
    text-shadow: 0 -0.05em 0.1em rgba(0, 0, 0, .3);
    position: fixed;
    bottom: 97px;
    right: 20px;
}

.bubble:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0;
    border: 15px solid transparent;
    border-top-color: #ea484d;
    border-bottom: 0;
    margin-left: 20px;
    margin-bottom: -10px;
}

.bubble h2 {
    margin: 0;
    font-size: 40%;
    font-weight: normal;
}

.btn img {
    transition: 1s ease;
}

.btn img:hover {
    transform: scale(1.2);
    filter: opacity(5px);
}

#btn1 {
    margin-top: 0.5rem;
}

.modal_description_ic:after {
    content: '';
    position: absolute;
    z-index:-5;
    top: 30%;
    left: 0;
    border: 15px solid transparent;
    border-top-color:  rgb(233, 223, 223);
    border-bottom: 0;
    transform: rotate(90deg); 
}
.hidden-div {
    display: none;
    min-height: 30px;
    background-color:rgb(233, 223, 223);
    border-radius: 3%;
    padding: 1rem;
  }
  .hidden-div p {
    margin-block-start: 0px;
    margin-block-end: 0px;
}
  /*
  .hidden-div:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 205px;
    width: -240px;
    height: -220px;
    border: 15px solid transparent;
    border-top-color:  rgb(233, 223, 223);
    border-bottom: 0;
    margin-left: 20px;
    margin-bottom: 50px;
    transform: rotate(270deg); 
}*/
.modal_links div{
    word-wrap: break-word;
}

